## Data Structures

Python has built-in data structures like lists, tuples, dictionaries, and sets.

### i. List

A list is a collection data type in Python that is ordered and mutable. Lists are one of the most versatile and widely used data structures in Python. They can hold items of any data type and allow for various operations such as adding, removing, and modifying elements.

Key Features of Lists:-
* Ordered: The elements in the list have a defined order.
* Mutable: You can change the elements of a list after it has been created.
* Dynamic: Lists can grow and shrink in size as needed.
* Can contain mixed data types: A single list can contain integers, floats, strings, and even other lists.

#### Creating List

In [1]:
# Creating an empty list
empty_list = []
print(empty_list)  

# Creating a list with elements
numbers = [1, 2, 3, 4, 5]
print(numbers)  

# Lists can contain different data types
mixed_list = [1, "Hello", 3.14, True]
print(mixed_list)  

# List of lists (nested lists)
nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list)

[]
[1, 2, 3, 4, 5]
[1, 'Hello', 3.14, True]
[[1, 2], [3, 4], [5, 6]]

#### Accessing Elements

In [2]:
# Accessing elements by index (0-based indexing)
numbers = [10, 20, 30, 40, 50]
print(numbers[0])  
print(numbers[3])  

# Accessing elements from the end of the list
print(numbers[-1])  
print(numbers[-2])  

# Accessing elements in a nested list
nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list[1][0])  # Output: 3

10
40
50
40
3

#### Slicing Lists

In [3]:
# Slicing lists
numbers = [10, 20, 30, 40, 50]

# Slice from index 1 to 3 (excluding 3)
print(numbers[1:3])  

# Slice from the beginning to index 3 (excluding 3)
print(numbers[:3])  

# Slice from index 2 to the end
print(numbers[2:])  

# Slice with a step
print(numbers[::2])  

# Reverse the list using slicing
print(numbers[::-1])

[20, 30]
[10, 20, 30]
[30, 40, 50]
[10, 30, 50]
[50, 40, 30, 20, 10]

#### Modifying Lists

In [4]:
# Modifying elements
numbers = [10, 20, 30, 40, 50]
numbers[2] = 35
print(numbers)  

# Adding elements
numbers.append(60)  # Adds 60 at the end of the list
print(numbers)  

numbers.insert(1, 15)  # Inserts 15 at index 1
print(numbers)  

# Extending a list with another list
numbers.extend([70, 80])
print(numbers)  

# Removing elements
numbers.remove(35)  # Removes the first occurrence of 35
print(numbers)  

popped_value = numbers.pop(2)  # Removes the element at index 2 and returns it
print(popped_value)  
print(numbers)       

del numbers[1]  # Deletes the element at index 1
print(numbers)  

numbers.clear()  # Removes all elements from the list
print(numbers)

[10, 20, 35, 40, 50]
[10, 20, 35, 40, 50, 60]
[10, 15, 20, 35, 40, 50, 60]
[10, 15, 20, 35, 40, 50, 60, 70, 80]
[10, 15, 20, 40, 50, 60, 70, 80]
20
[10, 15, 40, 50, 60, 70, 80]
[10, 40, 50, 60, 70, 80]
[]

#### List Comprehensions

List comprehensions provide a concise way to create lists.

In [5]:
# Creating a list of squares of numbers from 0 to 9
squares = [x**2 for x in range(10)]
print(squares)  

# Creating a list of even numbers from 0 to 9
evens = [x for x in range(10) if x % 2 == 0]
print(evens)  

# Nested list comprehension (creating a 2D list)
matrix = [[j for j in range(5)] for i in range(3)]
print(matrix)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

#### Common List Methods

In [6]:
# List methods
numbers = [5, 3, 8, 6, 7, 2]

# len() returns the number of elements in the list
print(len(numbers))  

# sort() sorts the list in ascending order
numbers.sort()
print(numbers)  

# reverse() reverses the list
numbers.reverse()
print(numbers)  

# index() returns the index of the first occurrence of a value
print(numbers.index(6))  

# count() returns the number of occurrences of a value
print(numbers.count(7))  

# copy() returns a shallow copy of the list
numbers_copy = numbers.copy()
print(numbers_copy)

6
[2, 3, 5, 6, 7, 8]
[8, 7, 6, 5, 3, 2]
2
1
[8, 7, 6, 5, 3, 2]

### ii. Tuples

A tuple is an immutable sequence of Python objects. Tuples are similar to lists, but they cannot be changed once created. They are used to group related data together and can hold any type of data.

Characteristics of Tuples:

* Ordered: The items in a tuple have a defined order.
* Immutable: Once a tuple is created, it cannot be modified.
* Heterogeneous: A tuple can contain different data types.
* Indexed: Elements in a tuple can be accessed using an index.

#### Creating Tuples

Tuples can be created by placing a comma-separated sequence of items within parentheses ().

In [7]:
# Creating a tuple with multiple items
my_tuple = (1, 2, 3, "apple", "banana")
print(my_tuple)  

# Creating a tuple without parentheses
my_tuple = 1, 2, 3, "apple", "banana"
print(my_tuple)  

# Creating an empty tuple
empty_tuple = ()
print(empty_tuple)  

# Creating a tuple with one item (note the comma)
single_item_tuple = (1,)
print(single_item_tuple)

(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana')
()
(1,)

#### Accessing Tuple Elements

Elements in a tuple can be accessed using indexing and slicing.

In [8]:
# Accessing elements by index
my_tuple = (1, 2, 3, "apple", "banana")
print(my_tuple[0])  
print(my_tuple[3])  

# Negative indexing
print(my_tuple[-1])  
print(my_tuple[-2])  

# Slicing a tuple
print(my_tuple[1:4])  
print(my_tuple[:3])   
print(my_tuple[2:])

1
apple
banana
apple
(2, 3, 'apple')
(1, 2, 3)
(3, 'apple', 'banana')

#### Tuple Operations

Tuples support various operations, including concatenation, repetition, and membership testing.

In [9]:
# Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)  

# Repetition
result = tuple1 * 2
print(result)  

# Membership testing
print(3 in tuple1)  
print(7 in tuple1)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
True
False

#### Iterating Through a Tuple

You can use a for loop to iterate through the elements of a tuple.

In [10]:
my_tuple = (1, 2, 3, "apple", "banana")

for item in my_tuple:
    print(item)

1
2
3
apple
banana

#### Tuple Unpacking

You can unpack a tuple into separate variables.

In [11]:
# Tuple unpacking
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)  
print(b)  
print(c)  

# Extended unpacking
my_tuple = (1, 2, 3, 4, 5)
a, b, *rest = my_tuple
print(a)    
print(b)    
print(rest)

1
2
3
1
2
[3, 4, 5]

#### Nesting Tuples

Tuples can be nested within other tuples.

In [12]:
nested_tuple = (1, 2, (3, 4), (5, (6, 7)))
print(nested_tuple)           
print(nested_tuple[2])        
print(nested_tuple[3][1])     
print(nested_tuple[3][1][1])

(1, 2, (3, 4), (5, (6, 7)))
(3, 4)
(6, 7)
7

#### Converting Between Tuples and Other Data Types

You can convert other data types to tuples using the tuple() function.

In [13]:
# Converting a list to a tuple
my_list = [1, 2, 3, "apple", "banana"]
my_tuple = tuple(my_list)
print(my_tuple)  

# Converting a string to a tuple
my_string = "hello"
my_tuple = tuple(my_string)
print(my_tuple)

(1, 2, 3, 'apple', 'banana')
('h', 'e', 'l', 'l', 'o')

### iii. Dictionaries

A dictionary in Python is an unordered collection of items. Each item is a pair consisting of a key and a value. Dictionaries are written with curly braces {}, and they have key-value pairs separated by colons :.

Key Features of Dictionaries:

* Unordered: The items in a dictionary are not indexed.
* Mutable: You can change, add, and remove items.
* Indexed by keys: The values are accessed using their keys, not their position.

#### Creating a Dictionary

In [14]:
# Creating an empty dictionary
empty_dict = {}

# Creating a dictionary with some key-value pairs
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

#### Accessing Values

You can access the values in a dictionary using their corresponding keys.

In [15]:
# Accessing values using keys
print(person["name"])  
print(person["age"])   

# Using the get method to access values
print(person.get("city"))  
print(person.get("country", "USA"))  # Output: USA (default value if key is not found)

Alice
25
New York
USA

#### Adding and Updating Items

You can add new items or update existing ones using the assignment operator.

In [16]:
# Adding a new key-value pair
person["email"] = "alice@example.com"
print(person)  

# Updating an existing value
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'alice@example.com'}

#### Removing Items

You can remove items using del, pop, or popitem.

In [17]:
# Using del to remove a key-value pair
del person["email"]
print(person)  

# Using pop to remove a key-value pair and return its value
age = person.pop("age")
print(age)     
print(person)  

# Using popitem to remove and return an arbitrary key-value pair (Python 3.7+)
key, value = person.popitem()
print(key, value)  
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York'}
26
{'name': 'Alice', 'city': 'New York'}
city New York
{'name': 'Alice'}

#### Dictionary Methods

keys(), values(), and items()

These methods return views of the dictionaryâ€™s keys, values, and key-value pairs respectively.

In [18]:
person = {"name": "Alice", "age": 26, "city": "New York"}

# Getting all keys
keys = person.keys()
print(keys)  

# Getting all values
values = person.values()
print(values)  

# Getting all key-value pairs
items = person.items()
print(items)

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 26, 'New York'])
dict_items([('name', 'Alice'), ('age', 26), ('city', 'New York')])

#### Looping Through a Dictionary

In [19]:
# Looping through keys
for key in person.keys():
    print(key)
print('\n')

# Looping through values
for value in person.values():
    print(value)
print('\n')

# Looping through key-value pairs
for key, value in person.items():
    print(f"{key}: {value}")

name
age
city


Alice
26
New York


name: Alice
age: 26
city: New York

#### Nested Dictionaries

Dictionaries can contain other dictionaries, making them useful for more complex data structures.

In [20]:
# Nested dictionary
employees = {
    "emp1": {
        "name": "John",
        "age": 30,
        "department": "HR"
    },
    "emp2": {
        "name": "Sara",
        "age": 25,
        "department": "IT"
    }
}

# Accessing nested dictionary values
print(employees["emp1"]["name"])
print('\n')
print(employees["emp2"]["department"])

John


IT

#### Dictionary Comprehensions

Dictionary comprehensions provide a concise way to create dictionaries.

In [21]:
# Creating a dictionary with squares of numbers
squares = {x: x**2 for x in range(5)}
print(squares) 

print('\n')

# Creating a dictionary from another dictionary
original = {"one": 1, "two": 2, "three": 3}
double_values = {k: v*2 for k, v in original.items()}
print(double_values)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}


{'one': 2, 'two': 4, 'three': 6}

### iv. Sets

A set is an unordered collection of unique elements. Sets are useful for operations involving membership testing, removing duplicates from a sequence, and computing mathematical operations like union, intersection, difference, and symmetric difference.

Key Characteristics of Sets:

* Unordered: The elements in a set are not stored in any particular order.
* Unique Elements: A set cannot contain duplicate elements.
* Mutable: Sets are mutable, meaning you can add or remove elements.

#### Creating Sets

In [22]:
# Creating an empty set
empty_set = set()
print(empty_set)

set()

In [23]:
# Creating a set with initial values
fruits = {"apple", "banana", "cherry"}
print(fruits)  

# Attempting to create a set with duplicate values
numbers = {1, 2, 2, 3, 4}
print(numbers)

{'apple', 'cherry', 'banana'}
{1, 2, 3, 4}

#### Adding and Removing Elements

In [24]:
# Adding a single element
fruits.add("orange")
print(fruits)  

# Adding multiple elements
fruits.update(["grape", "watermelon"])
print(fruits)

{'apple', 'cherry', 'banana', 'orange'}
{'orange', 'apple', 'cherry', 'watermelon', 'banana', 'grape'}

In [25]:
# Removing an element (raises KeyError if the element is not present)
fruits.remove("banana")
print(fruits)  

# Removing an element (does not raise an error if the element is not present)
fruits.discard("banana")
print(fruits)  

# Removing a random element
removed_fruit = fruits.pop()
print(removed_fruit)  # Output: (one of the elements from the set)
print(fruits)  

# Clearing all elements
fruits.clear()
print(fruits)

{'orange', 'apple', 'cherry', 'watermelon', 'grape'}
{'orange', 'apple', 'cherry', 'watermelon', 'grape'}
orange
{'apple', 'cherry', 'watermelon', 'grape'}
set()

#### Set Operations

##### 1. Union

Combines elements from both sets without duplicates.

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  

# Alternatively, using the | operator
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

##### 2. Intersection

Returns elements that are common to both sets.

In [27]:
intersection_set = set1.intersection(set2)
print(intersection_set)  

# Alternatively, using the & operator
intersection_set = set1 & set2
print(intersection_set)

{3}
{3}

##### 3. Difference

Returns elements that are in the first set but not in the second set.

In [28]:
difference_set = set1.difference(set2)
print(difference_set)  

# Alternatively, using the - operator
difference_set = set1 - set2
print(difference_set)

{1, 2}
{1, 2}

##### 4. Symmetric Difference

Returns elements that are in either of the sets, but not in both.

In [29]:
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  

# Alternatively, using the ^ operator
symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)

{1, 2, 4, 5}
{1, 2, 4, 5}

#### Set Membership

##### Checking for Membership

In [30]:
# Checking if an element is in a set
print(3 in set1)  
print(4 in set1)  

# Checking if an element is not in a set
print(3 not in set1)  
print(4 not in set1)

True
False
False
True

#### Iterating Through a Set

In [31]:
for number in set1:
    print(number)

1
2
3

#### Set Comprehensions

##### Creating Sets Using Comprehensions

In [32]:
# Set comprehension to create a set of squares
squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}